* {
  box-sizing: bb;
}

.userCard {
  width: 300px;
  border: 1px solid red;
  border-radius: 30px;
  overflow: hidden;
}

.userCardHeader {
  height: 150px;
  background: url(https://images.pexels.com/photos/2531608/pexels-photo-2531608.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.userPhoto {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.userName {
}

.userTagLink {
}

.userInfo {
}

.socials {
}
