* {
  box-sizing: border-box;
}

.parent {
  /* border: 5px solid red; */

  display: flex;
  /* flex-wrap: wrap; */
}

.child {
  border: 5px solid blue;

  /* flex-grow: 10; */
  /* flex-shrink: 0; */
  /* flex-basis: розмір; */

  /* flex: 0 1 300px; */
  /* width: 200px; */
}

.child1 {
  flex: 0 1 200px;
}
.child2 {
  flex: 0 1 200px;
  order: -1;
}
.child3 {
  flex: 0 1 200px;
}
.child4 {
  flex: 0 1 200px;
}
.child5 {
  flex: 0 1 200px;
  order: -2;
}
