* {
  box-sizing: border-box;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 300px;
  border: 1px solid red;
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
}

.userCardHeader {
  width: 100%;
  height: 150px;
  background: url(https://images.pexels.com/photos/2531608/pexels-photo-2531608.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.userPhoto {
  width: 150px;
  height: 150px;
  margin-top: -75px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.userName {
  padding: 10px;
}

.userTagLink {
  padding: 10px;
}

.userInfo {
  padding: 10px;
}

.socials {
  display: flex;
  padding: 10px;
}

.socialsItem {
  font-size: 20px;
  color: aqua;
}

.socialsItem + .socialsItem {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.facebook {
  color: #537bbf;
}

.twitter {
  color: #68cdee;
}

.linkedIn {
  color: #1f85b9;
}
